@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ShopWave.Models.LoginModel

@{
    Layout = "_LoginLayout";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1>Log-in</h1>
            <div asp-validation-summary="ModelOnly" class="errorMsg"></div>

            <form asp-action="SubmitLogin" asp-controller="Account" method="post">
                <div class="form-group">
                    <label asp-for="@Model.Username"></label>
                    <input asp-for="@Model.Username" class="form-control"/>
                    <span asp-validation-for="@Model.Username" class="errorMsg"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password"></label>
                    <input asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="errorMsg"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="@Url.Action("RegisterForm","Account")">Register</a>"
            </form>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>